h1 {
  text-align: center;
  color: rgb(35, 192, 212);
  font-size: 50px;
}
h2 {
  text-align: center;
  color: rgb(45, 88, 117);
  font-size: 35px;
}
p {
  text-align: center;
  color: rgb(235, 8, 140);
  font-size: 25px;
}
